
{{>partials/header}}


<!--- condicional para quando não existir nada em list condicional com mustache--->
{{^list}}

<div class="container no-list">
    <h2>Ops pagina não encontrado</h2>
</div>



{{/list}}
{{>partials/footer}}